.task-item {
  display: flex;
  flex-direction: column;
  padding: 20rpx;
  border: 2rpx solid #d1d1d1;
  border-radius: 20rpx;
  margin-bottom: 20rpx;
  .task-item-title {
    font-size: 36rpx;
    line-height: 36rpx;
  }
  .task-item-images {
    display: flex;
    flex-wrap: wrap;
  }
  .task-item-image {
    width: 100rpx;
    height: 100rpx;
    margin-right: 10rpx;
    margin-top: 10rpx;
  }
}

.load-more {
  width: 100%;
  text-align: center;
  color: #d1d1d1;
}